---
import Card from './Card/index.astro'
---

<Card colSpan='md:col-span-1' rowSpan='md:row-span-6' title='About me'>
	<div class='flex flex-col gap-2 overflow-y-auto scrollbar-hide pr-2 h-full'>
		<div class='text-sm font-light'>
			<p>
				Xin chào, tôi là <strong>LeeHao</strong>, một lập trình viên web đến từ Việt Nam.
				<br />
				Hiện tại tôi đang tập trung vào lĩnh vực phát triển giao diện (Front-end) và xây dựng các website
				hiện đại, thân thiện với người dùng.
				<br />
				Các công nghệ tôi đang sử dụng và học tập gồm:
			</p>
			<ul class='list-inside list-disc'>
				<li>HTML / CSS / JavaScript</li>
				<li>React</li>
				<li>Next.js</li>
				<li>Astro</li>
				<li>Node.js (cơ bản)</li>
			</ul>
		</div>

		<p class='text-sm font-light'>
			Ngoài lập trình, tôi yêu thích thiết kế giao diện (UI/UX), hiệu ứng chuyển động và cách những
			chi tiết nhỏ có thể cải thiện trải nghiệm người dùng. Tôi thích học hỏi thông qua việc xây
			dựng các dự án nhỏ, giúp rèn luyện tư duy sáng tạo và kỹ năng giải quyết vấn đề.
		</p>

		<p class='text-sm font-light'>
			Mục tiêu của tôi là trở thành một lập trình viên full-stack trong tương lai gần và đóng góp
			cho những dự án ý nghĩa, nơi công nghệ và thiết kế kết hợp hài hòa.
		</p>
	</div>
</Card>
