---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<!-- <Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Now</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <span class="text-xs text-gray-500 cursor-pointer">what's that ?</span>
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Currently working fulltime</p>
</Card> -->

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Tech Stack">
  <ul class="list-disc list-inside text-sm font-light leading-relaxed overflow-y-auto scrollbar-hide pr-2 h-full">
    <li>HTML / CSS / JavaScript (ES6+)</li>
    <li>React / Next.js / Astro</li>
    <li>TypeScript (đang học nâng cao)</li>
    <li>Tailwind CSS / Framer Motion</li>
    <li>Node.js (cơ bản) / Express</li>
    <li>Git / GitHub / Vercel</li>
  </ul>
</Card>